# Python build files
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution/packaging
dist/
build/
*.egg-info/
*.exe
*.spec
main.dist/

# IDE specific files
.vscode/
.idea/

# Environment
.env
venv/
ENV/